############part1#############




############part2#############




############part3#############
torch
torchvision
numpy
pandas
opencv-python
matplotlib
seaborn
scikit-learn
tqdm
python-Levenshtein